@page "/edit/{Id}"

<h1>@GetTitle()</h1>

<BSFormGroup>
    <BSLabel For="Receipt">Upload a receipt</BSLabel>
    <input id="Receipt"
           type="file" />
    <BSButton OnClick="@UploadToBlobStorage">Load from receipt</BSButton>
    <BSProgress @bind-Value="AnalysisProgress"
              IsStriped="true"
              IsAnimated="true">@AnalysisProgress%</BSProgress>
</BSFormGroup>

        <BSForm OnSubmit="@AddOrUpdate" Model="Expense">
            
            <BSFormGroup>
                <BSLabel For="Payee">Payee</BSLabel>
                <BSInput Id="Payee"
                             InputType="InputType.Text"
                             @bind-Value="Expense.Payee" />
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="Date">Date</BSLabel>
                <BSInput Id="Date"
                             InputType="InputType.Date"
                             @bind-Value="DateBinder" />
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="Amount">Amount</BSLabel>
                <BSInput Id="Amount"
                             InputType="InputType.Number"
                             @bind-Value="AmountBinder"
                             step=".01" />
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="Account">Account</BSLabel>
                <BSInput Id="Account"
                             InputType="InputType.Select"
                             @bind-Value="Expense.Account">
                    <option>Current</option>
                    <option>ISA</option>
                    <option>Wallet</option>
                </BSInput>
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="Type">Type</BSLabel>
                <BSInput Id="Type"
                             InputType="InputType.Select"
                             @bind-Value="Expense.Type">
                    <option>Regular</option>
                    <option>Internal transfer</option>
                    <option>Scheduled</option>
                </BSInput>
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="Status">Status</BSLabel>
                <BSInput Id="Status"
                             InputType="InputType.Select"
                             @bind-Value="Expense.Status">
                    <option>New</option>
                    <option>Pending</option>
                    <option>Reconciled</option>
                </BSInput>
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="Description">Description</BSLabel>
                <BSInput Id="Description"
                             InputType="InputType.TextArea"
                             @bind-Value="Expense.Description"
                             Rows="4" />
            </BSFormGroup>

            <BSButton Color="Color.Primary"
                          ButtonType="ButtonType.Submit">@(Guid == Guid.Empty ? "Add" : "Update")</BSButton>
            <BSButton Color="Color.Secondary"
                          OnClick="@(() => IsModalOpen = true)">Split</BSButton>

            <BSModal @bind-IsOpen="IsModalOpen" IsCentered="true">
                <BSModalHeader>Split</BSModalHeader>
                <BSModalBody>
                    <p>Split the expense</p>
                    List of people to split with (with completion) / Group
                    Description will be autopopulated
                    Controls to split percentage
                    Date/image taken from other form
                </BSModalBody>
                <BSModalFooter>
                    <BSButton Color="Color.Primary">Apply</BSButton>
                    <BSButton Color="Color.Secondary"
                                  OnClick="@(() => IsModalOpen = false)">Cancel</BSButton>
                </BSModalFooter>
            </BSModal>

        </BSForm>